.footer {
	position: static;
	padding: ritmo(.5) ritmo(2.5);
	margin-left: - ritmo(2);
	margin-right: - ritmo(2);
	background-color: darken($color-black, 5%);

	@include media('>=md') {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 999999;
		padding: ritmo(.25) ritmo(4);
	}
	@include media('>=lg') {
		padding: ritmo(.5) ritmo(5);
	}
	@include media('<md') {
		padding: ritmo(.5) ritmo(1);
	}
}

.footer__bottom {
	margin-top: ritmo(1);
}

.footer__column {
	margin-bottom: ritmo(1);
	@include media('>=md') {
		margin:0;
	}
}

.footer__content,
.footer__item {
	@include ritmo-font-size(16px);
	color:$color-white;
}
