.logo {
	height: ritmo(5);
	// margin-left: ritmo(0.5);
	// margin-top: ritmo(1);
	margin-bottom: ritmo(1);
	display: inline-block;

	@include media('>=xxl') {
	height: ritmo(7);
	}

}

.logo__img {
	height: ritmo(5);
	fill: $color-grey;
	transition: all 0.4s;
	&:hover {
		fill: $color-primary;
	}

	@include media('>=xxl') {
	height: ritmo(7);
	}
}

#logo__cursor {
  animation: change 1s infinite alternate;
}

@keyframes change {
  to {
    fill: $color-primary;
    opacity: 0;
  }
}
