.media {
	position: relative;
	overflow: hidden;
}

.media__img {
	display: block;
}

.media__img--zoom {
	transition: transform 0.2s ease-in-out;

	&:hover {
		transform: scale(1.1);
	}
}

.media__img--responsive {
	width: 100%;
}
