$navicon-width: 35px;
$navicon-height: 1px;
$navicon-gutter: 11px;
$navicon-color: $color-white;
$navicon-border-radius: 0;
$navicon-transition-duration: .3s;

.navicon {
	position: fixed;
	top: ritmo(1);
	right: ritmo(.5);
	padding: ritmo(0.5);
	left: auto;
	z-index: 10;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	outline: none;

	@include media(">=md") {
		display: none;
	}

}

.navicon__icon {
	position: relative;
	margin-top: $navicon-height + $navicon-gutter;
	margin-bottom: $navicon-height + $navicon-gutter;
	user-select: none;
	cursor: pointer;

	&,
	&:before,
	&:after {
		display: block;
		width: $navicon-width;
		height: $navicon-height;
		background-color: $navicon-color;
		transition-property: background-color, transform;
		transition-duration: $navicon-transition-duration;
		@if $navicon-border-radius != 0 {
			border-radius: $navicon-border-radius;
		}
	}

	&:before,
	&:after {
		position: absolute;
		content: '';
	}

	&:before {
		top: -( $navicon-height + $navicon-gutter );
		box-sizing: content-box;
	}

	&:after {
		top: $navicon-height + $navicon-gutter;
	}

	.is-navigation-open & {

		& {
			background-color: transparent;
		}

		@if ($navicon-color != auto) {

			&:before,
			&:after {
				background-color: $navicon-color;
			}

		}

		&:before {
			transform: translateY($navicon-gutter + $navicon-height) rotate(45deg);
		}

		&:after {
			transform: translateY(-($navicon-gutter + $navicon-height )) rotate(-45deg);
		}

	}

}
