.navigation--primary {

	/*position: fixed;*/
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	display: none;

	
	@include media('>=md') {
		position: fixed;
		top: ritmo(1);
		left: auto;
		right: ritmo(1);
		width: auto;
		background: transparent;
		display: block;
		z-index: 9;

	}

	@include media('>=lg') {
		right: ritmo(3);
	}

	.is-navigation-open & {

		transition: 0.25s;
		transition-timing-function: ease-out;
		left: 0;
		top: 0;
		width: 100%;
		border: 2 solid #F00;
		display: block;
	}

	.navigation__list {
		
		position: fixed;
		right: 0;
		left: 0;
		top:0;
		margin: 0;
		padding: 0 ritmo(2) ritmo(1);
		background-color: darken($color-black, 5%);
		z-index: 9;
		

		@include media('>=md') {
			position: static;
			right: auto;
			top: auto;
			background: none;
			padding: 0;
		}

	}

	.navigation__item {

		vertical-align: middle;
		display: block;

		@include media('>=md') {
			text-align: center;
			display: inline-block;
			float: left;
			position: relative;
		}

		&:hover {

			> .navigation__sub-menu {
				display: block;
			}
		}

		&--ancestor,
		&--parent {

			> .navigation__link {
				@include media('>=md') {
					color: $color-primary;
				}
			}

		}

		&.is-active {

			> .navigation__link {

				position: relative;
				color: $color-primary;

				&:after {
					content: "";
					background-color: $color-primary;
					width: 6px;
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;

					@include media('>=md') {
						display: none;
					}
				}
			}

		}
	}

	.navigation__link {

		@include ritmo-font-size(16px);
		padding-top: ritmo(1);
		padding-left: ritmo(1);
		padding-right: ritmo(1);
		display: block;
		text-decoration: none;
		margin: 0;
		font-weight: bold;
		cursor: pointer;
		color: $color-grey-darker;
		transition: background 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;

		@include media('>=md') {
			display: block;
			letter-spacing: 2px;
			padding-left: 0;
			border: 0;
			padding-left: ritmo(0.375);
			padding-right: ritmo(0.375);
			font-weight: normal;
		}

		@include media('>=lg') {
			padding-left: ritmo(0.75);
			padding-right: ritmo(0.75);
		}

		&:hover {
			transition: background 0.3s ease-in-out;
			color: $color-primary;

			@include media('>=md') {
				background-color: transparent;
			}
		}
	}

	

}
