.splitting {

	&[data-scroll] {
		.words {
			//transition: transform .3s cubic-bezier(.3, 0, .3, 1), opacity .3s linear;
			transition-delay: calc(15ms * var(--word-index));
			//transform: translateY(.25em);
			opacity: 0;
		}
	}

	//.is-loader-complete & {

		&[data-scroll="in"] {
			.word {

				opacity: 1;
				//transform: translateY(0);

			}

		}
	//}

}