.sz-track {
	z-index:1;
}

div[data-sessionid="0602d213-5fd6-4134-994c-8d15e0ad6520"].sz-session.sz-session--grid.sz-session--plenum.sz-session--service {
	z-index: 202 !important;
	border: 0;
}

div[data-sessionid="0602d213-5fd6-4134-994c-8d15e0ad6520"].sz-session.sz-session--grid.sz-session--plenum.sz-session--service .sz-session__card {
	border-width: 0;
	background: $color-secondary;
	background: -moz-linear-gradient(90deg, rgba(144, 105, 255, 1) 0%, rgba(144, 105, 255, 1) 49%, rgba(144, 105, 255, 0.5) 50%, rgba(144, 105, 255, 0.5) 100%);
	background: -webkit-linear-gradient(90deg, rgba(144, 105, 255, 1) 0%, rgba(144, 105, 255, 1) 49%, rgba(144, 105, 255, 0.5) 50%, rgba(144, 105, 255, 0.5) 100%);
	background: linear-gradient(90deg, rgba(144, 105, 255, 1) 0%, rgba(144, 105, 255, 1) 49%, rgba(144, 105, 255, 0.5) 50%, rgba(144, 105, 255, 0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9069ff", endColorstr="#9069ff", GradientType=1);
}