// Unordered/Ordered list
ul,
ol {

	padding: 0;
	margin-top: 0;
	margin-left: ritmo(0.75);
	margin-bottom: ritmo(1);

	ul,
	ol {
		margin-bottom: 0;
		list-style-type: inherit;
	}

	ul {
		list-style-type: circle;

		ul {
			list-style-type: square;
		}
	}
}

// Definition list
dl {
	padding: 0;
	margin-top: 0;
}

dt {
	font-weight: bold;
	margin-bottom: 0;
}

dd {
	margin-left: ritmo(1);
	margin-bottom: ritmo(1);
}

.list {

	&--fixed {

		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		max-height: 100vh;
		overflow: hidden;
		margin-left: 0;
		margin-bottom: 0;
		text-align: right;
		color: $color-grey-darker;
		// remove dot after number
		counter-reset: item;
		list-style-type: none;

		@include media('>=md') {
			margin-left: ritmo(.5);
		}

	}

}

li {

	.list--fixed &:before {
		content: counter(item) "  ";
    	counter-increment: item
	}

}
