html,
body {
	font-family: $font-primary;
	color: $color-black;
	min-height: 100vh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	// height: 100vh;
}

body {

	padding: ritmo(1) ritmo(1.5) 0 ritmo(1.5);
	background-color: $color-black;
	color: $color-grey;

	@include media('>=md') {
		padding: ritmo(2) ritmo(2) ritmo(3) ritmo(2);
	}

	@include media('>=lg') {
		padding: ritmo(2) ritmo(3) ritmo(3) ritmo(3);
	}

	&.is-loader-complete {
		overflow-x: hidden;
		overflow-y: visible;
	}

}

*,
:before,
:after {
	box-sizing: border-box;
}

::selection {
	background-color: $color-secondary !important;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

img,
video,
object {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 0;
}
